# Qt5 development packages
PACKAGE_LIST_QT5_DEVEL_MALI="libxcb1 libxcb1-dev libx11-xcb1 libx11-xcb-dev \
	libxcb-keysyms1 libxcb-keysyms1-dev libxcb-image0 libxcb-image0-dev \
	libxcb-shm0 libxcb-shm0-dev libxcb-icccm4 libxcb-icccm4-dev \
	libxcb-sync0-dev libxcb-render-util0 libxcb-render-util0-dev \
	libxcb-xfixes0-dev libxrender-dev libxcb-shape0-dev libxcb-randr0-dev libsqlite3-dev \
	libxcb-glx0-dev libxcb-xinerama0-dev \
	\
	libfontconfig1-dev libdbus-1-dev libudev-dev libicu-dev libxslt1-dev libssl-dev \
	libasound2-dev libavcodec-dev libswscale-dev libpulse-dev libx11-dev libglib2.0-dev freetds-dev \
	libsqlite0-dev libpq-dev libiodbc2-dev libmariadb-dev firebird-dev libxext-dev \
	libxi-dev libdrm-dev"
	
PACKAGE_LIST_QT5_DEVEL="zlib1g-dev libxcb1 libxcb1-dev libx11-xcb1 libx11-xcb-dev libxcb-keysyms1 libxcb-keysyms1-dev \
	libxcb-image0-dev libxcb-shm0 libxcb-shm0-dev libxcb-icccm4 libxcb-icccm4-dev libxcb-sync0-dev \
	libxcb-render-util0 libxcb-render-util0-dev libxcb-xfixes0-dev libxrender-dev libxcb-shape0-dev \
	libxcb-randr0-dev libsqlite3-dev libxcb-glx0-dev libxcb-xinerama0-dev libgles2-mesa-dev libpcre16-3 xorg \
	sshfs gdbserver i2c-tools"


PACKAGE_LIST_ADDITIONAL="$PACKAGE_LIST_ADDITIONAL $PACKAGE_LIST_QT5_DEVEL" # additional packages
